<ion-content>
  <div class="body">
    <img style="margin-top: 10%;" src="../assets/img/7.jpg" alt="">
    <div class="title">
      <h1>Welcom to</h1>
      <h2 >SHELF</h2>

    </div>
    <ion-buttons>

    <ion-button (click)="login()">
      <div class="btn-login">
        <span>Login</span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-button>
    <ion-button (click)="register()">
      <div class="btn-sign">
        <span>Sign-up</span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-button>
  </ion-buttons>
  </div>

</ion-content>
