.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #F9869A ;
}


.fade-in{
  animation: fadeIn 4s;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
