.body{
  display: flex;

  justify-content: center;
  height: 67%;
  margin-top: 20px;
  border-radius: 60px 60px 0 0;
}
ion-buttons{
  border-radius: 10px;
}
.avatar{
  height: 100px;
  width: 100%;
  justify-content: center;

  margin-top: 20%;
}
.profile{
  align-items: center;
  text-align: center;
  display: block;
}
ion-toolbar{
  // width: 80%;
  display: flex;
  margin-top: 5%;
  border-radius: 15px;

}
ion-title{
  border-left: 3px solid black;
}

.setting ion-toolbar{
  margin-top: 7%;
}
.setting ion-toolbar:first-child {
  margin-top: 20%;
}
@media (min-width: 1024px ) {
  .avatar{
    margin-top: 5%;
  }
}
