
<ion-content  color="dark" [fullscreen]="true">
  <div class="profile">
    <div class="avatar">
      <ion-icon name="person-circle-outline" style="height: 100px; width: 100px;"></ion-icon>
    </div>

    <h2>HOANG TRAN</h2>

  </div>

  <div class="body" style="background-color: #F9869A;">
    <div class="setting">
      <ion-toolbar>
        <ion-buttons >
          <ion-button slot="start">
            <ion-icon name="book-outline"></ion-icon>
          </ion-button>
          <ion-title>Book History</ion-title>
          <ion-button slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
      <ion-toolbar>
        <ion-buttons >
          <ion-button slot="start">
            <ion-icon name="journal-outline"></ion-icon>
          </ion-button>
          <ion-title>Payment Methods</ion-title>
          <ion-button slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-buttons >
          <ion-button slot="start">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
          <ion-title>Address Books</ion-title>
          <ion-button slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-buttons >
          <ion-button slot="start">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
          <ion-title>Setting</ion-title>
          <ion-button slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-buttons >
          <ion-button slot="start">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
          <ion-title>Sign Out</ion-title>
          <ion-button slot="end">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

  </div>
</ion-content>
