


  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
  <ion-tab-bar slot="top">
    <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="self">
      <ion-icon name="library"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

