<ion-toolbar color="dark">
  <ion-buttons slot="start" (click)="auth()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content color="dark"  [fullscreen]="true">
  <h1>Hello.</h1>
  <h1>Create Your Account</h1>
  <div class="sign" style="background-color: #F9869A;">

      <h2>SIGN UP</h2>



      <ion-input type="email" class="input"
      placeholder="Enter email"
      ngModel
      email></ion-input>
      <ion-input class="input" type="password" labelPlacement="stacked" placeholder="Password" ></ion-input>
      <ion-input class="input" type="password" labelPlacement="stacked" placeholder="Confirm password"></ion-input>
      <ion-button class="btn-sign" color="dark" (click)="register()">
      <span>SIGN UP</span>
      </ion-button>


    <div class="social">
      <a href="https://www.google.com.vn/?hl=vi">
        <img  class="icon-social logo-google" src="../assets/img/images.png" alt="">
      </a>
      <a href="https://www.facebook.com/">
        <ion-icon  class="icon-social item-logo" color="primary" fill="outline" name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.apple.com/">
        <ion-icon  class="icon-social " color="dark" name="logo-apple"></ion-icon>
      </a>



    </div>


  </div>
</ion-content>
