<ion-toolbar color="dark">
  <ion-buttons  slot="start" (click)="goToBookInfo()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-buttons>

</ion-toolbar>
<ion-content color="dark">
  <div class="header">
    <h2>Black Girl, Call Home</h2>
  </div>

    <div class="image">
      <img src="../assets/img/es.jpg" alt="">
    </div>



  <div class="body">
    <h1>CHAPTER 1</h1>
    <p>From spoken word poet Jasmine Mans comes an unforgettable poetry collection about race, feminism, and queer identity.<br>

      With echoes of Gwendolyn Brooks and Sonia Sanchez, Mans writes to call herself—and us—home. Each poem explores what it means to be a daughter of Newark, and America--and the painful, joyous path to adulthood as a young, queer Black woman.<br>

      Black Girl, Call Home is a love letter to the wandering Black girl and a vital companion to any woman on a journey to find truth, belonging, and healing.<br>
      Jasmine Mans is a Black American poet, artist from Newark, New Jersey. She graduated from the University of Wisconsin Madison, with a B.A. in African American Studies.
      Her debut collection of poetry, Chalk Outlines of Snow Angels, was published in 2012. Mans is the resident poet at the Newark Public Library. She was a member of The Strivers Row Collective.
    </p>
    <div class="btn">
      <ion-toolbar style="border-radius: 40px;">
        <ion-title>Next Chapter</ion-title>
        <ion-buttons slot="end">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </div>



  </div>

</ion-content>
