
<ion-content  color="dark" [fullscreen]="true">
  <h2>Trending</h2>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card style="background-color: bisque;">
        <div class="image">
          <img src="../assets/img/es.jpg" alt="">
        </div>

        <ion-card-header>
          <span>Black Girl</span>

        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="background-color: rgb(117, 145, 105);">
        <img src="../assets/img/3.jpg" alt="">
        <ion-card-header>
          <span>The Psychology of Money</span>

        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="secondary">
        <img src="../assets/img/d.webp" alt="">
        <ion-card-header>
          <span>How To Not Die Alone</span>

        </ion-card-header>
      </ion-card>
    </ion-slide>

  </ion-slides>


  <div class="body" style="background-color: #F9869A;">
    <div class="title">
      <ion-card-title>
        Popular
    </ion-card-title>
    </div>
    <ion-slides [options]="option" class="ion-margin-top">

      <ion-slide>
        <ion-card style="background-color: rgb(117, 145, 105);">
          <img src="../assets/img/3.jpg" alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="background-color: rgb(188, 230, 170);">
          <img src="../assets/img/481.webp" alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="background-color: bisque;">
          <div class="image">
            <img src="../assets/img/es.jpg" alt="">
          </div>
        </ion-card>
      </ion-slide>

    </ion-slides>
    <div class="title">
      <ion-card-title>
        For You
      </ion-card-title>
    </div>
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>
        <ion-card style="background-color: rgb(188, 230, 170);">
          <img src="../assets/img/481.webp" alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>
      <ion-card style="background-color: rgb(117, 145, 105);">
        <img src="../assets/img/3.jpg" alt="">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card style="background-color: bisque;">
        <div class="image">
          <img src="../assets/img/es.jpg" alt="">
        </div>
      </ion-card>
    </ion-slide>

    </ion-slides>
  </div>
</ion-content>


